<div class="c-select b-mb-3">
  <select class="c-select__dropdown b-pt-2 b-pb-2" id="cars" name="cars" aria-label="Contact reason">
    <option class="c-select__option" selected="true" disabled="disabled">Contact reason</option>
    <option class="c-select__option" value="contactreason1">Contact reason 1</option>
    <option class="c-select__option" value="contactreason2">Contact reason 2</option>
    <option class="c-select__option" value="contactreason3">Contact reason 3</option>
  </select>
</div>

<div class="c-input-text b-mb-3">
  <input class="c-input-text__input b-pt-2 b-pb-2" id="first-name" name="first-name" type="text" aria-labelledby="first-name" placeholder=" " required>
  <label class="c-input-text__label" for="first-name">Label here</label>
  <p class="c-input-text__error-message b-mt-2">This is the error message explaining what you did wrong.</p>
</div>

<div class="c-input-checkbox b-mb-3">
  <input class="c-input-checkbox__input" type="checkbox" id="checkbox" name="checkbox" value="51Degrees Privacy statement">
  <label class="c-input-checkbox__label" for="checkbox">I agree to the 51Degrees Privacy statement</label>
</div>

<div class="c-input-password b-mb-3">
  <input class="c-input-password__input b-pt-2 b-pb-2" type="password" id="password" name="password" placeholder=" " pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}" required>
  <label class="c-input-password__label" for="password">Label here</label>
  <p class="c-input-password__error-message b-mt-2">This is the error message explaining what you did wrong.</p>
</div>

<div class="c-input-email b-mb-3">
  <input class="c-input-email__input b-pt-2 b-pb-2" type="email" id="email" name="email" placeholder=" " required>
  <label class="c-input-email__label" for="email">Label here</label>
  <p class="c-input-email__error-message b-mt-2">This is the error message explaining what you did wrong.</p>
</div>

<div class="c-input-number b-mb-3">
  <input class="c-input-number__input b-pt-2 b-pb-2" type="tel" id="phone" name="phone" placeholder=" " pattern="[0-9]{11}" required>
  <label class="c-input-number__label" for="phone">Label here</label>
  <p class="c-input-number__error-message b-mt-2">This is the error message explaining what you did wrong.</p>
</div>
