<div class="g-form b-mt-2 b-mb-8 b-pt-5 b-pb-1 b-mt-4-md b-mb-11-md b-pt-8-md b-pb-6-md b-mb-13-lg">
  <div class="g-form__shape"></div>
  <div class="g-form__content b-mb-3 b-pb-3 b-mb-6-md b-pb-0-md">
    <h2 class="g-form__title b-mb-3">Contact us</h2>
    <form action="#">
      {% include "@components/02-form/01-input-text.twig" %}
      {% include "@components/02-form/03-input-password.twig" %}
      {% include "@components/02-form/00-select.twig" %}
      {% include "@components/02-form/02-input-checkbox.twig" %}
      <button class="b-btn-primary b-btn-primary--full b-mt-3 b-mt-4-md b-mb-2 b-mb-3-md">Send message</button>
      <p>Please read our <a class="b-link-secondary" href="#">Privacy policy</a> before submitting?</p>
    </form>
  </div>
  <div class="g-form__content g-form__content--image b-mb-3 b-pb-3 b-mb-6-md b-pb-0-md">
    <div class="g-form__image">
      <img class="g-form__asset b-img" src="/images/peering-man.png" alt="Alt goes here">
    </div>
  </div>
</div>
