<label class="c-toggle b-pt-1 b-pb-1">
  Monthly
  <input class="c-toggle__checkbox" id="c-toggle__checkbox" name="c-toggle__checkbox" type="checkbox" aria-label="Toggle pricing monthly or yearly">
  <span class="c-toggle__slider"></span>
  Yearly (save 16%)
</label>
