$colour-grey-10: #F9F9F9;
$colour-grey-50: #F2F2F2;
$colour-grey-100: #DADBDB;
$colour-grey-200: #B7B4B2;
$colour-grey-300: #808080;
$colour-grey-400: #555857;
$colour-grey-500: #363A3A;
$colour-grey-600: #222628;