* {
	box-sizing: border-box;
}

html, body, div, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, ol, ul, li, form, legend, input, label, table, header, footer, nav, section, figure, dl, dd, pre {
	margin: 0;
	padding: 0;
}

button, input {
  background-color: transparent;
  border: none;
	padding: 0;
}

a {
	text-decoration: none;
  color: $colour-grey-500;
  transition: all 0.3s ease; // for underline on hover
}

input, textarea, button, select {
	font: inherit;
}

em, cite {
	font-style: normal;
}

select {
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
}
