<div class="c-sections-list b-pt-2 b-pb-2">
  <ul class="c-sections-list__list">
    <li class="c-sections-list__item">
      <a class="c-sections-list__link" href="#section-name1">Ad tech</a>
    </li>
    <li class="c-sections-list__item">
      <a class="c-sections-list__link" href="#section-name2">Brands</a>
    </li>
    <li class="c-sections-list__item">
      <a class="c-sections-list__link" href="#">Digital agencies</a>
    </li>
    <li class="c-sections-list__item">
      <a class="c-sections-list__link" href="#">E-Commerce</a>
    </li>
    <li class="c-sections-list__item">
      <a class="c-sections-list__link" href="#">Publishers</a>
    </li>
  </ul>
</div>
