<div class="b-table">
  <table>
    <thead>
      <tr>
        <th>Device</th>
        <th>Screen Width</th>
        <th>Screen Height</th>
        <th>Hash Code</th>
        <th>Device</th>
      </tr>
    </thead>
      <tbody>
      <tr>
        <td>iPhone 8</td>
        <td>1125</td>
        <td>1334</td>
        <td>4130174414</td>
        <td>Apple A11 Bionic GPU</td>
      </tr>
      <tr>
        <td>iPhone 6S</td>
        <td>320</td>
        <td>1334</td>
        <td>3354180376</td>
        <td>PowerVR SGX 543 MP3</td>
      </tr>
      <tr>
        <td>iPhone 6S</td>
        <td>640</td>
        <td>1334</td>
        <td>3512764074</td>
        <td>PowerVR SGX 535</td>
      </tr>
      <tr>
        <td>iPhone 8</td>
        <td>320</td>
        <td>1334</td>
        <td>439591115</td>
        <td>Apple A11 Bionic GPU</td>
      </tr>
      <tr>
        <td>iPhone 6</td>
        <td>750</td>
        <td>1334</td>
        <td>3354180376</td>
        <td>PowerVR GT 7600</td>
      </tr>
      <tr>
        <td>iPhone X</td>
        <td>750</td>
        <td>480</td>
        <td>439591115</td>
        <td>Apple A11 Bionic GPU</td>
      </tr>
    </tbody>
  </table>
</div>
